<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.docker.local-hostname</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/docker-local-hostname</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>DOCKER_LOCAL_HOSTNAME_DOMAIN</key>
    <string>__DOMAIN__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/var/log/docker-local-hostname.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/docker-local-hostname.log</string>
</dict>
</plist>
